<div style="min-height: 100vh">
  <div class="contact-header-photo">
    <div class="contact-header-title">一起來體驗農村漫遊</div>
  </div>
  <div class="contact-container">
    <div class="photo-title">
      <div class="line"></div>
      <h5 class="photo-title--text">
        活動訊息
      </h5>
      <div class="line"></div>
    </div>
    <div class="m-description">
      <label class="m-description--label">活動亮點</label>
      <div>
        見證「農村再生」的模範，社區學習的標竿。
        <br/>
        農村漫遊：紅磚古厝、俚語巷弄、新安堂、200年關老爺廟。
        <br/>        
        客家美食DIY製作：蒸桔發糕、橘餅和橘汁茶。
      </div>
    </div>
    <div class="m-description">
      <label class="m-description--label">行程安排
        <span style="font-size:14px">（社區導覽散步 2小時；客家美食DIY 1小時）</span>
      </label>
      <div style="font-size: 14px">
          梨園18行柱→俚語巷道→竹藝轉角公園→關帝廟紅磚步道→紅磚厝群→新安堂→新安堂工坊（客家傳統技藝農村體驗活動）→好漢坡→月眉溪公園
      </div>
    </div>
    <div class="m-description">
      <label class="m-description--label">活動費用</label>
      <div style="font-size: 14px">
          3~5人 : 每人1000元  /  6~10人 : 每人800元
      </div>
    </div> 
    <div class="m-description">
      <label class="m-description--label">集合地點</label>
      <div style="font-size: 14px">
        柚園停車場（銅鏡村1鄰9-11號前，近山灣咖啡）
      </div>
    </div> 
    <div class="photo-title" style="margin-top:50px">
      <div class="line"></div>
      <h5 class="photo-title--text">
          立即預約
      </h5>
      <div class="line"></div>
    </div>
    <div class="contact__info--item">
      <span class="contact__info--itemHead">姓名</span>
      <input type="text" class="contact-input" placeholder="古某某"/>
    </div>
    <div class="contact__info--item">
      <span class="contact__info--itemHead">人數</span>
      <input type="number" class="contact-input"/>
    </div>
    <div class="contact__info--item">
      <span class="contact__info--itemHead">電話</span>
      <input type="tel" class="contact-input"/>
    </div>
    <div class="contact__info--item">
      <span class="contact__info--itemHead">信箱</span>
      <input type="email" class="contact-input"/>
    </div>
    <div class="contact__info--item fullTA">
      <span class="contact__info--itemHead">備註</span>
      <textarea class="contact-textarea"></textarea>
    </div>
    <div style="margin-top: 50px">
      <button class="contact-btn">送出</button>
    </div>
  </div>
</div>