<div style="min-height: 100vh">
  <div class="about-header-photo"></div>
  <div class="about-container">
    <div class="photo-title">
      <div class="line"></div>
      <h2 class="photo-title--text">
        銅鏡社區
      </h2>
      <div class="line"></div>
    </div>
    <div class="about-descrption">
      位在三灣鄉北部的銅鏡村內，村落中央有一處高起的山，
      站在山上向四周望，這座高起的山極似銅鑼中心凸起的部分，
      四周就像銅鑼之圓圈，故名「銅鑼圈」，又極似古人所用之銅鏡，
      取名為「銅鏡村」。在改善前，同樣有景觀風貌日漸喪失的困境。
      但在政府推動農村社區公共設施改善計畫下，進行聚落雜亂空間綠美化、
      社區道路排水改善、道路沿介面綠美化、破舊路面改善、農村環境空間營造等農村再造工程，
      使社區脫胎換骨，美輪美奐。
    </div>
    <div class="m-description">
      <label class="m-description--label">農村再造</label>
      <div style="font-size: 14px">
        農村再生不僅凝聚人心，更能打造農村社區新特色，甚至讓地方發展出不一樣的商機，
        苗栗縣三灣鄉銅鏡社區最近就利用社區裡閒置的伙房，打造成社區基地，
        再將幾個空房間設計成主題式體驗民宿，民眾只要向社區協會預約團體行程，
        就能夠體驗完整的三灣風情與伙房生活。
      </div>
    </div> 
    <div class="m-description">
      <label class="m-description--label">社區基地-新安堂</label>
      <div style="font-size: 14px">
        木製的窗戶、懷舊的梳妝台，再加上花布大棉被，整個房間彷彿仍停留在農業時期，
        近60年的新安堂，本來只是當地居民的老房子，屋主搬走後就未再使用，
        未來提供給社區協會之後，協會也將規畫包套行程，
        團體只要預約，就能參與2天1夜的三灣體驗小旅行。
      </div>
    </div> 
  </div>
  <div class="about-footer-photo"></div>
</div>