<div class="home-container" (window:resize)="onResize($event)">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="home-header-title">
          紅磚巷弄帶著有趣的客家諺語，<br>
          讓你走在巷弄內彷彿置身在充滿客家文化故事與生態的幽徑中。
        </div>
        <img class="d-block w-100" src="assets/photo/home-header1.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <div class="home-header-title">
          紅磚巷弄帶著有趣的客家諺語，<br>
          讓你走在巷弄內彷彿置身在充滿客家文化故事與生態的幽徑中。
        </div>
        <img class="d-block w-100" src="assets/photo/home-header2.png" alt="Second slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="photo-title">
    <div class="line"></div>
    <h5 class="photo-title--text">
      精彩回顧
    </h5>
    <div class="line"></div>
  </div>
  <ng-container *ngIf="!isScale">
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner wonderfulReview">
        <div class="carousel-item active">
          <img class="d-block w-100" src={{reviewDatas[reviewIdx].image}} alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"
        (click)="preReview()"
      >
        <i class="fas fa-angle-left photo-angle"></i>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"
        (click)="nextReview()"
      >
        <i class="fas fa-angle-right photo-angle"></i>
      </a>
    </div>
    <div class="d-flex">
      <div class="photo-description">
        {{ reviewDatas[reviewIdx].description}}
      </div>
    </div>
    <div class="photo-time">
        {{ reviewDatas[reviewIdx].time }}
      </div>
  </ng-container>
  <div *ngIf="isScale" style="display: flex;justify-content: space-around;">
    <div class="photo-recall" *ngFor="let item of reviewDatas">
      <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner wonderfulReview">
          <div class="carousel-item active">
            <img class="d-block w-100" src={{item.image}} alt="First slide">
          </div>
        </div>
        <div class="d-flex">
          <div class="photo-description">
            {{ item.description}}
          </div>
        </div>
        <div class="photo-time">
          {{ item.time }}
        </div>
      </div>
    </div>
  </div>

  <div class="photo-title" style="margin-top: 100px">
    <div class="line"></div>
    <h5 class="photo-title--text">
      鄉民回憶
    </h5>
    <div class="line"></div>
  </div>
  <div *ngIf="isScale" style="display:flex;justify-content: space-around;">
    <ng-container *ngFor="let ptt of pttDatas">
      <div>
        <div class="d-flex" style="justify-content: center;">
          <div class="userReview">
            <span class="quote">
              <i class="fas fa-quote-right"></i>
            </span> 
            {{ ptt.description }}
          </div>
        </div>
        <div id="carouselExampleControls1" class="carousel slide">
          <div class="carousel-inner pptReview">
            <div class="carousel-item active">
              <img class="d-block w-100" src={{ptt.image}}>
            </div>
          </div>
        </div>          
      </div>
        
    </ng-container>
  </div>
  <ng-container *ngIf="!isScale">
    <div class="d-flex" style="justify-content: center;">
      <div class="userReview">
        <span class="quote">
          <i class="fas fa-quote-right"></i>
        </span> 
        {{ pttDatas[pttIdx].description }}
      </div>
    </div>
    <div id="carouselExampleControls1" class="carousel slide">
      <div class="carousel-inner pptReview">
        <div class="carousel-item active">
          <img class="d-block w-100" src={{pttDatas[pttIdx].image}}>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev"
        (click)="prePtt()"
      >
        <i class="fas fa-angle-left photo-angle"></i>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next"
        (click)="nextPtt()"
      >
        <i class="fas fa-angle-right photo-angle"></i>
      </a>
    </div>
  </ng-container>
</div>
