<mat-sidenav-container (window:resize)="onResize($event, sideNav)" >
  <mat-sidenav #sideNav opened={{isOpend}} mode={{sideMode}}
    style="position: fixed"
  >
    <div class="sidenav-container">
      <div style="display: flex;justify-content: center">
        <div class="header-logo">
          <span class="logo-icon">
            幸福銅鏡
          </span>
        </div>        
      </div>
      <div style="margin-top: 74px">
        <ul class="sidenav-list">
          <li class="nav-list--item"  (click)="chooseItem(1, sideNav)"
            [class.active]="activeNumber === 1"
            [routerLink]="['/']"
          > 
            首頁
            <span class="nav-list--en">Home</span>
          </li>
          <li class="nav-list--item"
            [class.active]="activeNumber === 2"
          >
            關於
            <span class="nav-list--en">About</span>
          </li>
          <li class="nav-list--item"  (click)="chooseItem(3, sideNav)"
            [class.active]="activeNumber === 3" [routerLink]="['/stories']"
          >
            故事
            <span class="nav-list--en">Stories</span>
          </li>
          <li class="nav-list--item" (click)="chooseItem(4, sideNav)"
            [class.active]="activeNumber === 4"
            [routerLink]="['/viewpoint']"
          >
            景點
            <span class="nav-list--en">Viewpoint</span>
          </li>    
          <li class="nav-list--item"  (click)="chooseItem(6, sideNav)"
            [class.active]="activeNumber === 6"
            [routerLink]="['/traffic']"
          >
            交通
            <span class="nav-list--en">Acces</span>
          </li>          
          <li class="nav-list--item"  (click)="chooseItem(7, sideNav)"
            [class.active]="activeNumber === 7"
            [routerLink]="['/contact']"
          >
            預約
            <span class="nav-list--en">Reservation</span>
          </li> 
        </ul>       
      </div>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav class="nav l-nav">
      <div class="navbar nav-toggler" (click)="sideNav.toggle()">
        <span>
          <i class="fa fa-bars fa-1x"></i>
        </span>
      </div>
      <div class="nav-logo">
        <span class="logo-icon">
            幸福銅鏡
        </span>        
      </div>
    </nav>
    <div>
      <router-outlet></router-outlet>
    </div>
    <footer class="footer">
      © 幸福銅鏡
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
