<mat-sidenav-container (window:resize)="onResize($event, sideNav)" >
  <mat-sidenav #sideNav opened={{isOpend}} mode={{sideMode}}>
    <div class="sidenav-container">
      <div style="display: flex;justify-content: center">
        <div class="header-logo">
          <span class="logo-icon">
            幸福銅鏡
          </span>
        </div>        
      </div>

      
      <div style="margin-top: 74px">
        <ul class="sidenav-list">
          <li class="nav-list--item">首頁 <span class="nav-list--en">Home</span></li>
          <li class="nav-list--item">關於 <span class="nav-list--en">About</span></li>
          <li class="nav-list--item">故事 <span class="nav-list--en">Stories</span></li>
          <li class="nav-list--item">景點 <span class="nav-list--en">Viewpoint</span></li>
          <li class="nav-list--item">活動 <span class="nav-list--en">Activity</span></li>       
          <li class="nav-list--item">交通 <span class="nav-list--en">Acces</span></li>          
          <li class="nav-list--item">預約 <span class="nav-list--en">Reservation</span></li> 
        </ul>       
      </div>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav class="nav l-nav">
      <div class="navbar nav-toggler" (click)="sideNav.toggle()">
        <span>
          <i class="fa fa-bars fa-1x"></i>
        </span>
      </div>
      <div class="nav-logo">
        <span class="logo-icon">
            幸福銅鏡
        </span>        
      </div>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>