.traffic-container {
  background-image: url('/assets/subtle_grunge_@2X.png');
  padding: 30px 30px 100px;
}

.map,
.map-container {
  width: 100%;
  height: 123px
}
.map-container {
  position: relative;
  display: block;
}

.map-mask {
  width: 100%;
  height: 100%;
  position: absolute;;
  background-color: rgba(140, 14, 3, 0.4);
  z-index: 99;
}
.linkToGM {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 207px;
  color: #fff;
  border: 2px solid #fff;
  padding: 21px 29px;
  font-size: 12px;
  text-align: center;
}

@media(min-width: 768px) {
  .traffic-container {
    padding: 50px 50px 100px;
  }
  .map,
  .map-container {
    height: 311px
  }
  .linkToGM {
    width: 309px;
    padding: 26px 69px;
    font-size: 14px;
  }
}

@media(min-width: 1440px) {
  .traffic-container {
    padding: 100px 135px 90px;
  }
  .linkToGM {
    width: 418px;
    padding: 38px 124px;
  }
  .map,
  .map-container {
    height: 420px
  }
}