<div style="min-height:100vh" class="traffic-container">
    <a class="map-container"
      href="https://goo.gl/maps/kgaLpuJmkWk"
      target="_blank"
    >
      <div class="map-mask"></div>
      <div class="linkToGM">點擊後在Google map 開啟</div>
      <div #gmap class="map"></div>
    </a>
    <div class="photo-title">
      <div class="line"></div>
      <h5 class="photo-title--text">
        交通指引
      </h5>
      <div class="line"></div>
    </div>
    <div class="m-description">
      <label class="m-description--label">地址</label>
      <div>
        苗栗縣三灣鄉銅鏡村小銅鑼圈
      </div>
    </div>
    <div class="m-description">
      <label class="m-description--label">經由中山高開車前往</label>
      <div style="font-size: 14px">
        南下：頭份交流道 → 往三灣方向 → 台3線 → 大埔道 → 銅鏡社區
      </div>
      <div style="margin-top: 10px;font-size: 14px">
        北上：頭份交流道 → 往三灣方向 → 台3線 → 大埔道 → 銅鏡社區
      </div>
    </div>
    <div class="m-description">
      <label class="m-description--label">大眾運輸工具</label>
      <div style="font-size: 14px">
        火車：竹南站 → 轉搭5806往南庄公車 → 於峨眉橋站下車步行即可 
      </div>
      <div style="margin-top: 10px;font-size: 14px">
        高鐵：苗栗高鐵站 → 北上轉搭火車於竹南站下車 → 轉搭5806往南庄公車 → 於峨眉橋站下車步行即可 
      </div>
    </div>
</div>