<div style="min-height:100vh">
  <div class="story-header-photo">
      <div class="story-header-title">一起坐下來、喝杯茶、聊聊天吧</div>
  </div>
  <div class="photo-title">
    <div class="line"></div>
    <h5 class="photo-title--text">
      銅鏡故事
    </h5>
    <div class="line"></div>
  </div>
  <div class="storyPhoto-container">
    <a class="photo" target="_blank"
      href="https://www.flipsnack.com/ritagu/_-fdzpyjccg.html"
    >
      <div class="photo-mask">       
      </div>
      <img src="/assets/photo/story01.png">
    </a>
    <a class="photo" target="_blank"
      href="https://www.flipsnack.com/ritagu/_.html"
    >
      <div class="photo-mask"></div> 
      <img src="/assets/photo/story02.png">
    </a>
    <div class="photo">
      <div class="photo-mask">
      </div>
      <img src="/assets/photo/story03.png">  
    </div>
    <div class="photo">
      <div class="photo-mask">
      </div>
      <img src="/assets/photo/story04.png">     
    </div>
  </div>
</div>
